// sezione: footer
.uppper_footer {
    background-color: #0282F9;
    height: 150px;
    z-index: 100;
    position: relative;
    top: 70px;
    .services_wrap {
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .service_box {
            color: white;
            z-index: 100;
        };
    };
}

footer {
    position: relative;
    color: white;
    background-image: url('https://www.dccomics.com/sites/all/themes/dc_comics_bp/images/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    .lower_footer{
        position: relative;
        top: 70px;
        width: 100%;
        margin: 20px auto;
        .footer_container {
            margin-left: 30px;
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            .footer_link {
                margin-left: 47px;
                width: 21%;
                h3{
                    font-size: 20px;
                };
                ul {
                    text-transform: capitalize;
                    list-style: none;
                    color: #959595;
                    li {
                        font-size: 12px;
                        line-height: 15px;
                    };
                };
            };
        };
    };

    .footer_logo {
        position: absolute;
        max-height: 215%;
        top: -65%;
        z-index: 0;
        right: 5%;
    };

    .footer_privacy {      
        position: relative;
        top: 50px;
        left: 77px;
        text-transform: capitalize;
        color: #959595;
        font-size: 11px;
        line-height: 15px;
    };

    .social{
        display: flex;
        align-items: center;
        height: 80px;
        width: 100%;
        background-color: #303030;
        position: absolute;
        bottom: 0;
        .social_container {
            display: flex;
            width: 85%;
            margin: auto;
            .social_row_left{
                display: flex;
                align-items: center;
                width: 50%;
                a {
                    padding: 10px 20px;
                    color: white;
                    border: 2px solid #0282F9;
                };
            };
            .social_row_right{
                display: flex;
                justify-content: flex-end;
                width: 50%;
                a {
                    font-size: 20px;
                    margin: 0;
                    align-self: center;
                    color: #0282F9;
                }
                img {
                    margin: 10px;
                };
            };
        };
    };
}